<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thumb Game!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="data:,">
  </head>
  <script src= "/app.js" type="text/javascript"></script>
  <body>
    <div class="container">
      <h1>Challenge the hands to a thumbs game!</h1>
      <h2>
        <ul>
          <li>First, choose how many thumbs you want to raise.</li>
          <li>Next, guess how many thumbs will be raised in total, counting both your hands and your opponent's.</li>
          <li>If guessed correctly, you remove one hand! Guess correctly twice to win!</li>
        </ul>
      </h2>
    </div>
    <p></p>
    <div class="container">
      <form action="/" method="post">
        <input type="text" name="leftHand" placeholder="Left hand">
        <input type="text" name="rightHand" placeholder="Right hand">
        <input type="text" name="guess" placeholder="Guess how many thumbs will be raised!" required>
        <button type="submit" class="btn btn-primary"><%= data.buttonIndex %></button>
      </form>
    </div>

    <p></p>
<div class="container">
  <h2><%= data.resultIndex %></h2>
  <h2><%= data.fingerTotalIndex %></h2>
  <h2><%= data.score %></h2>
  <p></p>
</div>

<div class="container">
  <form action="/reset" method="post">
    <button type="submit" value="reset" class="btn btn-danger" color="red">Reset</button>
  </form>
</div>

  </body>
</html>
