@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,400&display=swap');

body {
    background-color: #F0CAA3;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    min-height: 100%;
}

.main {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C060A1;
    margin: 0;
    padding: 10px 0;
    color: #00005C
}

.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
    color: #00005C
}

.instructionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #00005C
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

.inputContainer, .guessContainer, .resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.fist-bump-img {
    width: 100px;
}

.playerScoresContainer {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fist {
    width: 40px;
    height: 35px;
    object-fit: contain;
}

.flip {
    transform: scaleX(-1);
}

.thumbBtnContainer {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #C070C1;
}

.submit {
    background-color: #C060A1;
}

.submit:hover {
    background-color: #C070C1;
}

.footer {
    margin: auto;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    bottom: 0;
    font-size: small;
    text-decoration: none;
    color: #00005C;
}